--use-feature=2020-resolver
absl-py==0.13.0
alabaster
anyio 
appdirs==1.4.4
argh==0.26.2
argon2-cffi 
asn1crypto 
astroid
astropy
astunparse==1.6.3
async-generator 
attrs
autopep8 
Babel
beautifulsoup4 
bitarray 
bkcharts==0.2
black==19.10b0
bleach
bokeh 
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.2
certifi==2021.5.30
cffi 
chardet 
click 
cloudpickle 
colorama 
contextlib2==0.6.0.post1
cryptography 
cycler==0.10.0
Cython 
cytoolz==0.11.0
dask 
decorator 
defusedxml 
diff-match-patch 
distributed 
docutils
entrypoints==0.3
et-xmlfile==1.1.0
fastcache==1.1.0
filelock 
flake8 
Flask 
flatbuffers==1.12
fsspec 
future==0.18.2
gast==0.4.0
gevent 
glob2 
greenlet 
grpcio==1.34.1
gunicorn==20.1.0
h5py==3.1.0
HeapDict==1.0.1
html5lib 
idna 
imageio 
imagesize 
importlib-metadata 
iniconfig 
intervaltree 
ipykernel 
ipython
ipython-genutils 
ipywidgets 
isort 
itsdangerous 
jdcal==1.4.1
jedi 
jeepney 
Jinja2 
joblib 
json5==0.9.5
jsonschema 
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring 
kiwisolver 
lazy-object-proxy 
libarchive-c 
locket==0.2.1
lxml 
Markdown==3.3.4
MarkupSafe 
matplotlib 
mccabe==0.6.1
mistune==0.8.4
mock 
more-itertools 
mpmath==1.2.1
msgpack 
multipledispatch==0.6.0
mypy-extensions==0.4.3
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
nose 
notebook 
numba 
numexpr 
numpy 
numpydoc 
oauthlib==3.1.1
olefile==0.46
openpyxl 
opt-einsum==3.3.0
packaging 
pandocfilters 
parso==0.7.0
partd 
path 
pathlib2 
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect  
pickleshare    
pkginfo==1.7.0
pluggy  
ply==3.11
prometheus-client  
prompt-toolkit  
protobuf==3.17.3
psutil  
ptyprocess  
py  
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle  
pycosat==0.6.3
pycparser  
pycurl==7.43.0.6
pydocstyle  
pyerfa 
pyflakes  
Pygments 
pylint 
pyls-black  
pyOpenSSL  
pyparsing  
pyrsistent 
PySocks  
pytest==6.2.4
python-dateutil  
python-jsonrpc-server 
python-language-server  
pytz  
PyWavelets 
pyxdg  
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
regex  
requests  
requests-oauthlib==1.3.0
rope  
rsa==4.7.2
Rtree     
seaborn  
SecretStorage  
Send2Trash  
simplegeneric==0.8.1
singledispatch 
six 
sniffio  
snowballstemmer 
sortedcollections 
sortedcontainers  
soupsieve  
statsmodels  
sympy  
tables==3.6.1
tblib 
tensorflow-cpu==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.9.4
testpath 
textdistance 
threadpoolctl 
three-merge 
tifffile==2020.10.1
toml 
toolz 
tornado 
tqdm 
traitlets 
typed-ast 
typing-extensions 
ujson 
unicodecsv==0.14.1
urllib3 
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug 
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer 
xlrd 
xlwt==1.3.0
xmltodict==0.12.0
yapf
zipp
zope.interface 
